.download-menu.v-list {
  background: #3d3d3d;
}
.download-menu .v-list-item__title,.download-menu .v-list-item__icon {
  z-index: 1;
}
.download-menu .v-list-item:before {
  background-image: linear-gradient(90deg, #b59171 0, rgba(245, 210, 179, 0.4));
  opacity: 0;
}
.download-menu .v-list-item:hover:before {
  opacity: .6;
  background-image: linear-gradient(90deg, #b59171 0, rgba(245, 210, 179, 0.4));
}
.download-menu .v-list-item:hover .v-list-item__title {
  color: #ffffff !important;
}
.home-component .card-bg {
  background-image: linear-gradient(to right,#2b2d39,#1c1f26) !important;
}
.text-container {
  /* width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}