@import "./views/home/home.css";
@import "./views/header/header.css";
@import "./views/footer/footer.css";
@import "./views/download/download.css";
@import "./views/about/about.css";
@import "./views/support/support.css";
@import "./views/bottom/bottom.css";
@import "./views/use/use.css";

.text-12 {
  font-size: 12px !important;
}
.text-13 {
  font-size: 13px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-15 {
  font-size: 15px !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-17 {
  font-size: 17px !important;
}
.text-18 {
  font-size: 18px !important;
}
.text-19 {
  font-size: 19px !important;
}
.text-20 {
  font-size: 20px !important;
}
.text-21 {
  font-size: 21px !important;
}
.text-22 {
  font-size: 22px !important;
}
.text-23 {
  font-size: 23px !important;
}
.text-24 {
  font-size: 24px !important;
}
.text-25 {
  font-size: 25px !important;
}
.text-26 {
  font-size: 26px !important;
}
.text-27 {
  font-size: 27px !important;
}
.text-28 {
  font-size: 28px !important;
}
.text-29 {
  font-size: 29px !important;
}
.text-30 {
  font-size: 30px !important;
}
.text-31 {
  font-size: 31px !important;
}
.text-32 {
  font-size: 32px !important;
}
.text-33 {
  font-size: 33px !important;
}
.text-34 {
  font-size: 34px !important;
}
.text-35 {
  font-size: 35px !important;
}
.text-36 {
  font-size: 36px !important;
}
.text-37 {
  font-size: 37px !important;
}
.text-38 {
  font-size: 38px !important;
}
.text-39 {
  font-size: 39px !important;
}
.text-40 {
  font-size: 40px !important;
}
.text-48 {
  font-size: 48px !important;
}

.text-54 {
  font-size: 54px !important;
}

.text-66 {
  font-size: 66px !important;
}
.pointer {
  cursor: pointer;
}
.text-transform-none {
  text-transform: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex-1 {
  flex: 1;
}
.v-main {
  background-color: #0c0f18;
}
.lh-1 {
  line-height: 1;
}
.hidden {
  opacity: 0;
}

.home-component,
.support-component,
.about-component,
.download-component,
.use-component {
  transition: opacity 1s;
}

.v-main {
  max-width: 100vw;
}

.bg-img {
  width: 100%;
}

button,
a {
  text-transform: none !important;
}

.download-btn {
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 8%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s;
  font-size: 18px;
  background-image: url("./img/download/di.png");
  background-size: cover;
  z-index: 2;
}
.mob .download-btn {
  background-image: url("./img/download/h5/di.png");
}
.download-btn:hover {
  opacity: .9;
}
.dialog-bg {
  background-image: url("./img/dialog/bj_xz.png");
  background-size: cover;
}
.mob .dialog-bg {
  background-image: url("./img/dialog/h5/di_xz.png");
}
